@charset "ISO-8859-1";

footer{
	left: 0;
	bottom: 0;
	color: white;
	text-indent:5px;
	padding:3px;	
}

.row {
  display: flex;
}


.column3 {
  
  padding:0;
  margin:5px 20px 10px;
  width : 400px ;
  color: white ;
 
}

#footerimg{
	width: 50px;
	height: 50px;
}
.subrow{
	display : flex;
}


.subcol1{
	padding:0;
  	margin:5px 20px 10px;
 	width : 30px ; 	
}

.subcol2{	
	padding:0;
	margin: 5px 20px 5px 20px ;
	width: 700px;	
}

.row3{
	display: flex;
	float: right;
}

.row1{
	display : flex;
	margin: 0px 50px 80px;
	color: white;
	
	
}

.column {
  
 	margin:15px;
	padding:0;
	overflow:hidden;
	left: 80% ;
}

.row2{
	display : flex;
	float: right;
	margin: 0px 0px;	
}

.list3{
	position:absolute;
}
h4{
	color: white;
	text-align: left;
	margin-left: 20px;
	font-size: 20px;
}

.footer-copyright{
	background-color: #2a2a6f;
	height: 50px;
	color: white;
	text-align: center;
}
