@charset "ISO-8859-1";

.jumbotron{
		/* The image used */
  background-color: #1A4B74;

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.custom-anchor{
	font-family: Matura MT Script Capitals ;
	color: white ;
}

h2{
	color: white;
	text-align: center;
}

.background{
	background: linear-gradient(to top, #33ccff 0%, #000099 100%);
}
.form-group{
	color: white;
}

.col-centered{
	float: none;
	margin: 0 auto;
}
