@charset "ISO-8859-1";

<<<<<<< Updated upstream


.background{
	background-color: #80ccff;
}

.row1{
	float: right;
}
.btnimage{
	width: 100px;
	height: 80px;
	float: left;
	margin-right:0.5em;

}

.btn{
	display:inline-block ;
	margin-top: 80px;
	margin-right: 5px;
	border-radius: 12px;
}

.card-body{
	background-color: #80ccff;
=======
.background, .card-body{
	background-color: #2EBFF6;
>>>>>>> Stashed changes
}