@charset "ISO-8859-1";

.main_image{
	 width: 80% ; 
	 height: 500px
}

.image{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.menu{
	margin: 15px 25px;
	padding: 95px;
	overflow: hidden;
	
	
}

.btnimage{
	width: 120px;
	height: 70px;
	margin-right: 26px;
}

