@charset "ISO-8859-1";

.main_image{
	 width: 80% ; 
	 height: 500px
}

.image{
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.menu{
	margin: 15px 25px;
	padding: 95px;
	overflow: hidden;
	
	
}

.btnimage{
	width: 100px;
	height: 80px;
	float: left;
	margin-right:0.5em;

}

.btn{
	display:inline-block ;
	margin-top: 80px;
	margin-right: 5px;
	border-radius: 12px;
}
